body{
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 41, 41);
    color: bisque;
    font-family: 'Times New Roman', Times, serif;
}

button{
    border: none;
}
.center-text{
    text-align: center;
}

.nav-bar{
    background-color: rgb(113, 40, 40);
}

.font-nav{
    font-size: 24px;
}

.font-big{
    font-size: 32px;
}

.footer{
    background-color: rgb(113, 40, 40);
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.selection{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.image-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-selection > .action-selected{
    font-size: 80px;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px #888888;
}

.scoreboard{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.action-choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.choice{
    height: 100px;
    width: 100px;
    font-size: 80px;
    transition-duration: 0.5s;
    background-color: bisque;
    opacity: 0.8;
    box-shadow: 0px 0px 5px 5px #888888;
    border-radius: 20px;
    cursor: pointer;
}

.choice:hover{
    opacity: 1;
    box-shadow: 0px 0px 30px 10px #888888;
    transform: scaleX(1.1) scaleY(1.1);
}